<div id="messageFav" class="channel-alert"></div>
<!-- {pr($user,true)} -->
<div class="cover" id="coverContainer">
	<div class="cover-holder clearfix">
		<div class="cb-background FlexEmbed">
			<img class="img-responsive" src="{if $coverPhoto != ''}{$coverPhoto}{else}{$baseurl}/images/cover_default.jpg {/if}" size='1140x380' alt="">
		</div>
		{if $user.userid == userid()}
		<a href="#" class="btn btn-sm changeCover" id="changeCover">{lang code="update_cover"}<span class="icon-images"></span></a>
		{/if}
		{if $user.userid != userid()}
		<button id="report-user" class="btn btn-default" data-toggle="modal" data-target="#report-use">
			<!--{lang code="report_usr"}-->
			<span class="icon-profile2"></span>
		</button>
		{/if}
		<div class="ratting-counts clearfix">
			<div class="block-btn hidden-xs">
				<div class="friend-block clearfix">
					{if $user.userid != userid()}
						{$friend_status = $userquery->friendship_status(userid(), $user.userid)}
						{if $friend_status == "f"}
						<a href="{$baseurl}/manage_contacts.php?mode=delete&userid={$u.userid}"  class="btn btn-danger btn-sm new1 unfriend">
							<!-- {lang code="unfriend"} -->
							<i class="icon_un_frnd"></i>
						</a>
						{elseif $friend_status == "r"}
						<a href="{$baseurl}/manage_contacts.php?mode=requests&confirm={$u.userid}"  class="btn btn-primary btn-sm new1 accept_request">
							<!-- {lang code="accept_request"} -->
							<i class="icon_ac_frnd"></i>
						</a>
						{elseif $friend_status == 's'}
						<a href="{$baseurl}/manage_contacts.php?mode=delete&userid={$u.userid}"  class="btn btn-primary btn-sm new1 cancel_request">
							<!-- {lang code="cancel_request"} -->
							<i class="icon_cnl_frnd"></i>
						</a>
						{else}
						<a href="javascript:void(0)"  class="btn btn-primary btn-sm new1 add_as_friend" 
						   onclick="_cb.add_friendNew('{$user.userid}','result_cont')"> 
							<!-- {lang code="add_as_friend"} -->
							<i class="icon_add_frnd"></i>
						{/if}
						</a>
					{/if}
				</div>
				{if $user.userid != userid()}
					<a href="{$baseurl}/private_message.php?mode=new_msg&to={$user.username}" class="btn btn-default send_message">
						<!-- {lang code="user_send_message"} -->
						<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
					</a>
					<button id="subscribe_channel" class="btn btn-default">
						<!-- {lang code="subscribe"} -->
						<i class="fa fa-rss" aria-hidden="true"></i>
					</button>
				{/if}
			</div>
		</div> 
	</div>
	<div class="profile_img">
		<div class="wapper_area">
			<div class="avatar">
				<a href="#">
					<img class="img-responsive img-circle cb-live-pic-background"  src="{if $profilePic != ''}{$profilePic}{else} {$baseurl}/images/avatars/no_avatar.png {/if}">
				</a>
				{if userid()==$user.userid}
				<div class="fbTimelineProfilePicSelector" id="ProfilePicContainer">
					<a href="#" class="_156p hidden-xs changeProfilePic" id="changeProfilePic"><i class="fa fa-camera _1din _156q" aria-hidden="true"> </i>{lang code=" Update Profile Picture"}</a>
					<!-- <a href="#" class="btn btn-sm changeCover" id="changeCover">{lang code="update_cover"}<span class="icon-photo"></span></a> -->
<!-- 					<a href="#" class="_156p hidden-lg hidden-md hidden-sm">
						<i class="fa fa-camera _1din _156q" aria-hidden="true"></i>
					</a> -->
				</div>
				{/if}
			</div>
			<div class="user_detial hidden-xs">
				<h2>{$user.username}</h2>
				<span class="sub_895">
					<i class="icon-rss2"></i>
					{prettyNum($user.subscribers)}
					<span>
						{if $user.subscribers <= 1}{lang code='Subscriber'}{else}{lang code='Subscribers'}{/if}
					</span>
				</span>
			</div>
			<div class="mob-user hidden-sm hidden-md hidden-lg">
				<h2>{$user.username}</h2>
				<span class="sub_895">
						{if $user.userid != userid()}
							<button id="subscribe_channel" class="btn btn-default">
								<i class="fa fa-rss" aria-hidden="true"></i>
								{lang code="subscribe"}
								{prettyNum($user.subscribers)}
								{if $user.subscribers <= 1}{else}{lang code='Subscribers'}{/if}
							</button>
						{/if}
					<span>
					&nbsp;.&nbsp;{lang code='views'}&nbsp;{prettyNum($user.profile_hits)}
					</span>
				</span>
			</div>  
		</div>
	</div>

	<div class="profile-buttons clearfix">
		<ul class="clearfix nav nav-tabs">
			<li class="{if !$application}active{/if}">
				<a href="#user-home" data-toggle="tab">{lang code='Home'}</a>
			</li>
			<li>
				<a href="#user-info" data-toggle="tab">{lang code='info'}</a>
			</li>
			{if isSectionEnabled('videos') && $u_control.show_my_videos != 'no'}
			<li>
				<a href="#user-videos" data-toggle="tab">{lang code='videos'}</a>
			</li>
			{/if}
			{if isSectionEnabled('photos') && $u_control.show_my_photos != 'no'}
			<li {if $u_control.show_my_videos == 'no' || !isSectionEnabled('videos')}class="active"{/if}>
				<a href="#user-photos" data-toggle="tab">{lang code='photos'}</a>
			</li>
			<li>
			{/if}
			<li>
				<a href="#user-playlist" data-toggle="tab">{lang code='playlists'}</a>
			</li>
			{if $application}
			<li class="active">
				<a href="#live-video" data-toggle="tab">{lang code='Live !'}</a>
			</li>
			{/if}
			<li class="hidden-sm hidden-md hidden-lg">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<div class="friend-block clearfix">
								{if $user.userid != userid()}
									{$friend_status = $userquery->friendship_status(userid(), $user.userid)}
									{if $friend_status == "f"}
									<a href="{$baseurl}/manage_contacts.php?mode=delete&userid={$u.userid}"  class="btn btn-danger btn-sm new1 unfriend">
										{lang code="unfriend"}
									</a>
									{elseif $friend_status == "r"}
									<a href="{$baseurl}/manage_contacts.php?mode=requests&confirm={$u.userid}"  class="btn btn-primary btn-sm new1 accept_request">
										{lang code="accept_request"}
									</a>
									{elseif $friend_status == 's'}
									<a href="{$baseurl}/manage_contacts.php?mode=delete&userid={$u.userid}"  class="btn btn-primary btn-sm new1 cancel_request">
										{lang code="cancel_request"}
									</a>
									{else}
									<a href="javascript:void(0)"  class="btn btn-primary btn-sm new1 add_as_friend" 
									   onclick="_cb.add_friendNew('{$user.userid}','result_cont')"> 
										{lang code="add_as_friend"}
									{/if}
									</a>
								{/if}
							</div>
						</li>
						<li>
							{if $user.userid != userid()}
								<a href="{$baseurl}/private_message.php?mode=new_msg&to={$user.username}" class="btn btn-default send_message">
									{lang code="user_send_message"}
								</a>
							{/if}
						</li>
					</ul>
				</div>			
			</li>
		</ul>
		<ul class="counters hidden-xs">
			{if isSectionEnabled('videos')}
			<li>
				{prettyNum($user.total_videos)} &nbsp;<span>{lang code='videos'}</span>
			</li>
			{/if}
			{if isSectionEnabled('photos')}
			<li>
				{prettyNum($user.total_photos)} &nbsp;<span>{lang code='photos'}</span>
			</li>
			{/if}
			<li>
				{prettyNum($user.profile_hits)} &nbsp;<span>{lang code='views'}</span>
			</li>
		</ul> 
	</div>
</div>
<div class="modal fade Report_02" id="report-use" role="dialog">
	<div class="modal-content col-lg-4 col-md-4 col-sm-12 col-xm-12 ">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="clearfix" id="cb-item-addto">
			{show_flag_form id=$user.userid type=user}	
		</div>
  	</div>
</div>
<script>
(function(window){
  $(document).ready(function(){

	var extensions = "{$extensions}";
	var baseurl = '{$baseurl}';
	var channelId = "{$user['userid']}";
	extensions = (extensions.substring(0, extensions.length - 1)) + ",png,jpeg";
	$.get("{$theme}/js/plupload/js/plupload.full.min.js", function(e){
	  var uploader = new plupload.Uploader({
		  browse_button: 'changeProfilePic',
		  runtimes : 'html5,flash,silverlight,html4',
		  url : baseurl + "/edit_account.php?mode=avatar_bg&ajax=true",
		  file_data_name : "avatar_file",
		  filters: {
			mime_types : [
			  { title : "Image files", extensions : extensions },
			],
			max_file_size: "2mb",
			prevent_duplicates: false,
		  }
	  });
	  window.uploader = uploader;
	  uploader.init();
	  uploader.bind("FilesAdded", function(up, uploadedFiles){
		$(".cb-live-pic-background").attr("src",baseurl+'/images/loading.png');
		up.start();
	  });
	  uploader.bind('UploadComplete', function(plupload, files, response){
		
	  });

	  uploader.bind("FileUploaded", function(plupload, files, response){
		var response = $.parseJSON(response.response);
		console.log(response);
		if(response.status == true){
		  $(".cb-live-pic-background").attr("src",response.url);
		}else{
		  $(".cb-live-pic-background").attr("src",response.url);
		  console.log(response.msg);
		}
	  });

	  uploader.bind("Error", function(plupload, error){
		alert(error.message);
	  });
	});
	$("#ProfilePicContainer").hover(function(e){
		//$("#changeProfilePic").removeClass("sr-only");
		$("#changeProfilePic").show();
	}, function(e){
	  // $("#changeProfilePic").addClass("sr-only");
		$("#changeProfilePic").hide();
	});

  });
})(window);
</script>